target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
# Конфигурационные файлы приложения
application.properties
application.yml
application.yaml

# Или используя шаблон
# application.*

# Другие типичные файлы для игнорирования
*.log
target/
.idea/
*.iml
### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
**/application.properties
**/application.yml

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
application.*
### VS Code ###
.vscode/

### Mac OS ###
.DS_Store**/application.properties
**/application.yml
